.container {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 1000px;
    margin: auto;
}
.card {
    border: 1px dotted;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.lightbox {
    background: #fff;
    height: 90vh;
    width: 90vw;
    border-radius: 1rem;
    position: fixed;
    top: 5vh;
    left: 5vw;
    display: none;
    box-shadow: 0 0 5px 0 #0002, 0 0 15px 0 #0002;
}
.lightbox>.box {
    width: auto;
    height: calc(100% - 4rem);
    margin: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.lightbox>.cross {
    width: 2rem;
    height: .5rem;
    background: #000;
    position: absolute;
    top: 1.75rem;
    transform: rotate(45deg);
    right: 1rem;
    cursor: pointer;
}
.lightbox>.cross::before {
    width: .5rem;
    height: 2rem;
    background: #000;
    position: absolute;
    content: "";
    left: .75rem;
    top: -.75rem;
}
.arrow {
    position: absolute;
    top: calc(50% - 2.5rem);
    font-size: 5rem;
    line-height: 1;
    cursor: pointer;
}
.arrow.left {
    transform: scale(-1,1);
    left: 1rem;
}
.arrow.right {
    right: 1rem;
}

body.light::before {
    content: "";
    /* width: 100vw;
    height: 100vh; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
}
body.light {
    overflow: hidden;
}
body.light .lightbox {
    display: block;
}